<!DOCTYPE html>
    <html>

        <head>
          <link rel="stylesheet" href="/libraries/style.css">

            <title>Welcome</title>
        </head>

        <body>
            <header>
              <a href="/index.html" class="title">Tux   <img src="/images/white.png" style="width:80px"></a>
            </header>

            <article class=header>Games

          </article>
          <article class=body>
            <p class=head>QWOP</p>
                <hr class=divider>
          <center>
            <object width=975  height=600 data="qwop.swf"></object>
          </center>
        </article>


            <footer>
              <center>
                <img src="/images/tux.png" style="height:50px">
              </center>

            </footer>
        </body>

    </html>
